.card {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 0 10px 10px 10px;
  text-align: center;
  background-color: #d6fff5;
  color: #003c43;
  width: 180px;
}

.card1 {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 0 10px 10px 10px;
  text-align: center;
  background-color: #d6fff5;
  color: #003c43;
  height: 120px;
}

.cardIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cardIcon h3,
.cardIcon p {
  margin-left: 10px;
  justify-content: center;
}

.cardIcon svg {
  width: 40px;
  height: 40px;
  color: #003c43;
}

.buttonAdd {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.buttonAdd svg {
  background-color: #003c43;
  border-radius: 50%;
}

.buttonAdd svg:hover {
  background-color: #7a4d7c;
}
