.card {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin: 0 10px 10px 10px;
  text-align: center;
  background-color: #d6fff5;
  color: #003c43;
  width: 180px;
  height: 130px;
}

.card1 {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 30px;
  margin: 0 10px 10px 10px;
  text-align: center;
  background-color: #d6fff5;
  color: #003c43;
  height: 120px;
  font-weight: bold;
}

.card1 p{
  font-size: 24px;
  padding: 5px;
}
.card1 h3{
  font-size: 16px;
}

.cardIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;  
}

.cardIcon h3,
.cardIcon p {
  margin-left: 10px;
  justify-content: center;
}

.cardIcon svg {
  width: 52px;
  height: 52px;
  color: #003c43;
}

.buttonAdd {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.buttonAdd svg {
  background-color: #003c43;
  border-radius: 50%;
}

.buttonAdd svg:hover {
  background-color: #7a4d7c;
}
