.sidebar {
  grid-area: sidebar;
  width: auto;
  min-height: 85vh;
  border-right: 1px solid rgb(184, 181, 181);
  background-color: #003c43;
  color: #e3fef7;
}

.sidebar ul {
  list-style: none;
  padding: 1rem 2rem;
}

.sidebar ul li {
  margin-bottom: 1rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: #e3fef7;
}

/* Estilos por defecto del botón */
ul li a {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 20px; /* Redondea los bordes */
  text-decoration: none; /* Quita la subraya del enlace */
  color: black;
}

/* Estilos cuando se coloca el mouse sobre el botón */
ul li a:hover {
  background-color: #e3fef7; /* Cambia el color de fondo */
  color: #003c43;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  text-align: center; /* Alinea el texto al centro */
  margin-top: 30px;
  padding-bottom: 10px; /* Añade un relleno en la parte inferior */
  border-bottom: 3px solid gainsboro; /* Línea divisoria en la parte inferior */
}

.sidebarContent h3 {
  margin-top: 10px; /* Agrega un margen superior al título */
}

.sidebarContent p {
  margin-top: 5px; /* Agrega un espacio de 5px arriba del párrafo */
}
