/* Order.module.css */

.container {
  min-height: 100%;
  background-color: #fffffb;
  border-top-left-radius: 30px;
  padding: 10px 50px 10px 50px;
}

.title {
  margin: 15px 0 10px 0;
  font-size: 30px;
}

.separateLine {
  height: 2px;
  background-color: #161717;
  margin: 0px 0px 10px 0px;
}

.subtitle {
  font-size: 18px;
  margin-top: 20px;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filterInput {
  width: 116px;
}

.searchInput {
  width: 280px;
}

.filterInput,
.searchInput {
  height: 32px;
  padding: 8px;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 16px;
  padding-left: 20px;
}

.deliveredButton {
  justify-items: end;
  padding: 8px 20px;
  color: black;
  border: 2px solid black;
  border-radius: 16px;
  cursor: pointer;
}

.table {
  display: flex;
  flex-direction: column;
  
  background-color: #e3fef7;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 20px;
}

.row {
  display: flex;
  background-color: #e7d9e8;
  align-items: center;
  padding: 8px;
}

.row2 {
  display: flex;
  background-color: #e7d9e8;
  align-items: center;
  padding: 14px 8px;
}

.header {
  
  background-color: #e3fef7;
  text-align: center;
  border-radius: 25px;
}

.cell {
  flex: 1;
  padding: 8px;
}

.cell button {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 16px;
  cursor: pointer;
}

.btnDeleteOrders{
  border: 2px solid black;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 16px;
  cursor: pointer;
}

.searchContainer {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  color: #666;
}


.cell:last-child {
  border-right: none;
}

.rowWithMargin {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 12px;
  border-radius: 16px;
}
