/* Order.module.css */

.ordersContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ordersTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  margin-bottom: 20px;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.button {
  padding: 8px 20px;
  background-color: #74BAA0;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.subtitle {
  font-size: 18px;
  margin-top: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.markDelivered {
  padding: 5px 10px;
  background-color: #216651;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}

.deleteButton {
  padding: 8px 20px;
  background-color: #FF6347; /* Color rojo */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.deleteButton:hover {
  background-color: #FF4837; /* Color rojo más oscuro al pasar el mouse */
}