.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(234, 234, 234);
  }
  
  .title {
    margin-top: 15px;
  }
  
  .title h1 {
    text-align: left;
  }
  
  .layout {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
  }
  
  .card {
    background-color: burlywood;
    width: 300px;
    height: 400px;
    margin: 10px;
  }
  
  .data {
    margin-left: 10px;
  }
  