.containerAdm {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 430px;
  height: 240px;
  font-weight: bold;
  font-size: 18px;
}
