/* App.css */

body {
  background-color: #003c43;
  color: black;
}

.container {
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  padding: 2px 0px;
  flex-grow: 1; /* El contenido ocupa todo el espacio restante */
}
