.header {
  grid-area: header;
  display: grid;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  background-color: #e3fef7;
  padding: 5px 30px;
  border-bottom: 1px gainsboro;
  grid-template-columns: auto auto;
}

.logo {
  width: 170px;
}

.icon-button-container {
  display: flex;
  align-items: center;
}

.exitButton {
  border: 3px solid;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #e3fef7;
  font-weight: 700;
}

.icon {
  margin-right: 10px; /* Espacio entre el ícono y el botón */
}
