.containerAdm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background-color: #7a4d7c;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 240px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: white;
}

.buttonCancel {
  background-color: #d6fff5;
  padding: 10px;
  border: none;
  width: 150px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.buttonDelete {
  background-color: #d6fff5;
  padding: 10px;
  border: none;
  width: 150px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}
